extractors:
  vpk:
    filters:
      - "*_dir.vpk"
processors:
  - name: symbols
    filters:
      - "*.dylib"
  # You can have multiple of the same processor, with different settings
  - name: symbols
    filters:
      - "hl2_osx"

  - name: convars
    bin_path: cvdumper
    filters:
      - "*.so"
  # - name: bsp
  #   filters:
  #     - "*.bsp"
  - name: vpk
    filters:
      - "*_dir.vpk"
  - name: copy
    convert_utf8: true
    filters:
      - "*.cfg"
      - "*.txt"
      - "*.res"
      - "*.rc"
      - "*.vdf"
      - "*.pop"
      - "*.lst"
      - "*.inf"
  - name: ice
    bin_path: "vice"
    ice_key: "E2NcUkG2"
    filters:
    - "*.ctx"
