extractors:
  vpk:
    filters:
      - "*_dir.vpk"
  bsp:
    filters:
      - "*.bsp"
processors:
  - name: strings
    line_discard_filter: 'protobuf|GCC_except_table|osx-builder\.'
    filters:
      - "*.dylib"
      - "hl2_osx"
  - name: symbols
    line_discard_filter: 'GCC_except_table|google::protobuf'
    filters:
      - "*.dylib"
      - "hl2_osx"
  - name: convars
    bin_path: cvdumper
    filters:
      - "*.so"
  - name: bsp
    filters:
      - "*.bsp"
  - name: vpk
    filters:
      - "*_dir.vpk"
  - name: copy
    convert_utf8: true
    filters:
      - "*.cfg"
      - "*.txt"
      - "*.res"
      - "*.rc"
      - "*.vdf"
      - "*.pop"
      - "*.lst"
      - "*.inf"
      - "*.vmt"
      - "*.nut"
  - name: ice
    bin_path: "vice"
    ice_key: "E2NcUkG2"
    filters:
    - "*.ctx"
